{% for page in pages %}
<li>
    <div class="wrapper">
        <a href="{{ path('bitbag_sylius_cms_plugin_shop_page_show', {'slug': page.slug }) }}"><span>{{ page.name }}</span></a>
    </div>
</li>
{% endfor %}