<div id="topAnnounce">
    <button class="close"><svg class="svg-icon" role="img" style="width:18px; height:18px"><use xlink:href="{{ asset('chullanka/assets/img/sprites.svg#ico-close') }}"/></svg></button>
    {{ bitbag_cms_render_content(block) }}
</div>