<div id="topAnnounce">
    <button class="close"><svg class="svg-icon" role="img" style="width:18px; height:18px"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-close"/></svg></button>
    {{ bitbag_cms_render_content(block) }}
</div>