<script>
    var _manageButtonMore = function()
    {
        var $pagination = $('.pagination');
        if($pagination.length)
        {
            var _target = $pagination.find('.item.active').next().attr('href');
            $btnMore = $('<button class="btn">Voir plus de produits</button>');
            $btnMore.on('click', function(e)
            {
                e.preventDefault();

                $('#js-loader').addClass('loading');
                $.ajax({
                    type: 'GET',
                    url: _target,
                    error() {
                        $('#js-loader').removeClass('loading');
                    },
                    success(response) {
                        $('#products').append(response);

                        // màj lien "voir plus"
                        $pagination = $('.pagination');
                        if($pagination.find('.item.active').next().hasClass('disabled'))
                        {
                            $btnMore.remove();
                        }
                        else {
                            _target = $pagination.find('.item.active').next().attr('href');
                        }
                        $pagination.remove();

                        $('#js-loader').removeClass('loading');
                    },
                });
            });
            $pagination.replaceWith($btnMore);
        }
    };

    $(document).ready(function() {
        _manageButtonMore();
        var _topDecay = $('header').height();//=stickyHeader!
        var $anchor = document.querySelector('#filterForm');

        var $form = $('#filterForm');
        $form.on('click', '#showProducts', function(e)
        {
            e.preventDefault();
            document.querySelector('.mobileFilters').classList.add('hidden');
            window.scrollTo({
                top: $anchor.offsetTop - _topDecay + 40,
                behavior: 'smooth'
            });
        }).on('change', '.field input', function(e)
        {
            $form.submit();
        }).on('submit', function(e) {
            e.preventDefault();

            $('#js-loader').addClass('loading');

            {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
            $.ajax({
                type: 'GET',
                url: '{{ currentPath }}',
                data: $form.serialize(),
                dataType: 'html',
                error() {
                    $('#js-loader').removeClass('loading');
                },
                success(response) {
                    $('#searchWrapper').html(response);
                    $('#js-loader').removeClass('loading');

                    var _text = 'Aucun produit';
                    if($('#searchWrapper #products').length && $('#showProducts').length)
                    {
                        // nbr total de produits
                        var _total = $('#searchWrapper #products').data('total');
                        if(_total > 0)
                        {
                            _text = 'Voir le';
                            if(_total > 1) _text += 's ' + _total;
                            _text += ' produit';
                            if(_total > 1) _text += 's ';
                        }
                    }
                    $('#showProducts').html(_text);

                    // reload JS events
                    funcFoldable();
                    funcOpenFilters();
                    funcLoadMoreProds();
                    _manageButtonMore();
                    window.scrollTo({
                        top: $anchor.offsetTop - _topDecay,
                        behavior: 'smooth'
                    });
                },
            });
        });
    });
</script>