{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
<div class="autoMargin" style="margin-bottom:2em;">
    <div class="ui grid">
        <div class="center aligned sixteen wide column">
            <h1 class="ui icon header">UNE ERREUR EST SURVENUE DANS LE PROCESS DE PAIEMENT</h1>
            <div class="content" id="sylius-failure">
                <div class="sub header">{#{ dump(infos) }#}</div>
                <a href="{{ path('sylius_shop_cart_summary') }}" class="ui large red button">Continuer vos achats</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}