{% form_theme form.sub_links '@SyliusAdmin/Taxon/theme_for_grid.html.twig' %}
<div class="ui segment">
    <h4 class="ui dividing header">Liste de liens sous le titre</h4>
    <br>
    {{ form_row(form.sub_links, {'label': false}) }}
</div>