# Read the documentation: https://symfony.com/doc/current/bundles/FOSCKEditorBundle/index.html

twig:
    form_themes:
        - '@FOSCKEditor/Form/ckeditor_widget.html.twig'

fos_ck_editor:
    configs:
        bitbag_sylius_cms_plugin:
            extraPlugins:
                - 'emoji'
    plugins:
        emoji:
            path: '/bundles/fosckeditor/plugins/emoji/'
            filename: 'plugin.js'
    toolbars:
        configs:
            bitbag_sylius_cms_plugin:
                - '@full.colors'
        items:
            standard.insert: [ 'EmojiPanel' ]
            full.colors: [ 'TextColor' ]
    #filebrowsers: