{% include '@SyliusShop/Common/Order/_addresses.html.twig' %}
{% include '@SyliusShop/Common/Order/_table.html.twig' %}

<div class="ui two column stackable grid">
    <div class="column" id="sylius-payments">
        {% include '@SyliusShop/Common/Order/_payments.html.twig' %}
    </div>
    <div class="column" id="sylius-shipments">
        {% include '@SyliusShop/Common/Order/_shipments.html.twig' %}
    </div>
</div>


{# test if is shipped #}
{% set state = '' %}
{% for shipment in order.shipments %}{% set state = shipment.state %}{% endfor %}
{% if state and state == 'shipped' %}
<div class="ui segment">
    <p><strong>Vous souhaitez nous retourner un des produits de votre commmande ? Effectuez une demande en cliquant sur le bouton ci-dessous</strong></p>
    <p>&nbsp;</p>
    <a href="{{ path('rma_ask_return', {'order_id': order.id}) }}" class="btn primary">Faire une demande de retour produit</a>
</div>
<br>
{% endif %}