<div class="sectionAddToWish">
    <a href="#wishPop" class="topopin"><i class="icon heart"></i> <span>Ajouter à une liste d'envie</span></a>
</div>
{% include '@SyliusShop/Product/Show/_popWishlist.html.twig' %}