<div id="askAnswer" class="frame">
    <strong>Vos questions &ndash; nos réponses</strong>
    <ul>
        <li>
            <svg class="svg-icon" role="img" style="width:18.461px; height:31.623px"><use xlink:href="/chullanka/assets/img/sprites.svg#ico-question"/></svg>
            <strong>Comment l'utiliser sur des baudriers fixes ?</strong>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore repellendus illum voluptates vitae culpa ut sapiente, expedita voluptatibus corrupti tempora quibusdam facilis dolor deserunt eveniet quis natus officiis? Beatae, aperiam!</p>
        </li>
        <li>
            <svg class="svg-icon" role="img" style="width:18.461px; height:31.623px"><use xlink:href="/chullanka/assets/img/sprites.svg#ico-question"/></svg>
            <strong>Faut-il la graisser ? Et peut-on la nettoyer au savon ?</strong>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore repellendus illum voluptates vitae culpa ut sapiente, expedita voluptatibus corrupti tempora quibusdam facilis dolor deserunt eveniet quis natus officiis? Beatae, aperiam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus debitis ducimus exercitationem dolorem libero numquam alias. Aspernatur, error voluptates. Maxime similique perspiciatis mollitia, sint dolore ex fuga recusandae vel ea.</p>
        </li>
    </ul>
    <a href="#askAnswers" class="pictoLink">Plus (35)</a>

    {#% include('inc/inc-getadvice.php') %#}
</div>