{% if product.simple %}
    {% set _qty = product.variants.get(0).onHand %}
{% else %}
    {% set _qty = 0 %}
    {% for variant in product.variants %}
        {% set _qty = _qty + variant.onHand %}
    {% endfor %}
{% endif %}
{% if _qty > 1 %}
<div class="availability good">
    <p>En stock - Livraison à  9,90€ : 12 -  20 juil</p>
    <a href="#" class="dispoMag">Vérifiez la disponibilité en magasin</a>
</div>
{% elseif _qty == 1 %}
<div class="availability warning">
    <p>En stock - Plus que {{ _qty }} disponible uniquement dans le magasin Chullanka Antibes en Click and Collect GRATUIT</p>
</div>
{% else %}
<div class="availability alert">
    <p>Ce produit n'est plus en stock dans cette configuration</p>
    <div class="beCalled">
        <span>Pour trouver une alternative</span>
        <a href="#" class="btn btnCall">
            <div class="pichulli">
                <img src="/chullanka/assets/img/chulli.jpg" width="60" height="60" alt="Chulli">
                <svg class="svg-icon" role="img" style="width:64px; height:60px"><use xlink:href="/chullanka/assets/img/sprites.svg#over-chulli"/></svg>
            </div>
            <strong>Faites-vous appeler</strong>
        </a>
    </div>
</div>
<div class="availability warning">
    <p>En stock - uniquement dans les magasins Chullanka en Click and Collect GRATUIT</p>
    <a href="#" class="dispoMag">Vérifiez la disponibilité en magasin</a>
</div>
{% endif %}