<div id="chullPoints">
    <div class="insert">
        <div class="chullpts">
            <svg class="svg-icon" role="img" style="width:87.333px; height:36.958px"><use xlink:href="/chullanka/assets/img/sprites.svg#chullpoints"/></svg>
            <span>-20%</span>
            <strong>Avec vos Chullpoints</strong>
        </div>
        <button class="pictoLink fold" data-on="Replier" data-off="Profitez">Profitez</button>
        <div class="foldable">
            <p>Bénéficier de 20% de réduction sur ce produit avec vos Chullpoints</p>
            <p>Vos avantages club peuvent aussi s'appliquer sur ce produit</p>
            <p>Applicables dans votre panier</p>
        </div>
    </div>
</div>