{% include '@SyliusShop/Product/_starRating.html.twig' %}

{% if product.brand %}<div class="brand"><a href="{{ path('brand_view', {'code': product.brand.code}) }}">{{ product.brand.name }}</a></div>{% endif %}

<div class="titleAndPrice">
    <h1 id="sylius-product-name" {{ sylius_test_html_attribute('product-name', product.name) }}>{{ product.name }}</h1>
    
    {% if not product.enabledVariants.empty() %}
    {% include '@SyliusShop/Product/_price.html.twig' with { 'productPage': true } %}
    {% endif %}
</div>