<div id="wishPop" class="popin hidden">
    <div class="popinside">
        <button class="closePopin" alt="Fermer"><svg class="svg-icon" role="img"><use xlink:href="{{ asset('build/chullanka/images/sprites.svg', 'chullanka') }}#ico-close-alt"/></svg></button>

        {% set variant = product.variants.first %}
        {{ render(path('chk_wishlist_add_product', {'variant_id': variant.id})) }}
    </div>
</div>