{% set product = variant.product %}
<div>
    {{ product.name }}
    {% if variant.optionValues %}
        {% for option in variant.optionValues %}
        {{ ' - ' ~ option.value }}
        {% endfor %}
    {% endif %}
    {% if inadmin %}
        <br><em>{{ 'sylius.form.variant.sku'|trans }}&nbsp;: <strong>{{ variant.code }}</strong></em>
    {% endif %}
</div>