{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% if variant is not defined %}
    {% set variant = product|sylius_resolve_variant %}
{% endif %}
{% if variant %}
<div class="price">
    {% if variant|sylius_has_discount({'channel': sylius.channel}) %}
    <del{% if productPage is defined %} id="product-original-price"{% endif %} {{ sylius_test_html_attribute('product-original-price', money.calculateOriginalPrice(variant)) }}>{{ money.calculateOriginalPrice(variant) }}</del>
    {% endif %}

    <strong{% if productPage is defined %} id="product-price"{% endif %} {{ sylius_test_html_attribute('product-price', money.calculatePrice(variant)) }}>
        {{ money.calculatePrice(variant) }}
    </strong>
</div>
{% endif %}