{% if canBeFree %}
<div class="insert free-delivery">
    <svg class="svg-icon" role="img" style="width:60.593px; height:29.613px"><use xlink:href="{{ asset('chullanka/assets/img/sprites.svg#ico-camion') }}"/></svg>
    {% if itsFree %}
    <p>Vous pouvez bénéficier de la livraison gratuite</p>
    {% else %}
    {% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
    <p>Plus que <strong>{{ money.convertAndFormat(amount) }}</strong> pour bénéficier de la livraison gratuite</p>
    {% endif %}
</div>
{% endif %}