{% include '@SyliusShop/Homepage/_newsletter.html.twig' %}

<footer id="footer">
    <div class="inside">
        <div class="linkList">
            <h3>Nos supers services</h3>
            <ul>
                <li><a href="#">Service client, on est là</a></li>
                <li><a href="#">FAQ, ça peut aider</a></li>
                <li><a href="#">Livraison : simple et rapide</a></li>
                <li><a href="#">Clic&Collect, encore plus rapide</a></li>
                <li><a href="#">Garanties et retours</a></li>
                <li><a href="#">Guides & conseils d'experts</a></li>
                <li><a href="#">Programme de fidélité</a></li>
                <li><a href="#">Moyens de paiement</a></li>
            </ul>
        </div>
        <div class="linkList">
            <h3>Vous & Nous</h3>
            <ul>
                <li><a href="#">Qui sommes-nous ?</a></li>
                <li><a href="#">Nos magasins, le plein de services</a></li>
                <li><a href="#">Nous rejoindre</a></li>
                <li><a href="#">Devenir ambassadeur</a></li>
                <li><a href="#">Nos partenaires</a></li>
                <li><a href="#">Jouez et gagnez</a></li>
            </ul>
        </div>
        <div class="linkList">
            <h3>Les choses sérieuses</h3>
            <ul>
                <li><a href="#">Conditions générale de vente</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Données personelles & cookies</a></li>
                <li><a href="#">Rappel produits</a></li>
                <li><a href="#">Presse & média</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="ourAdventure">
        <h3>Notre aventure</h3>

    </div>
    
    <div class="ui container" style="display:none;">
        {#{ sylius_template_event('sylius.shop.layout.footer') }#}
    </div>
</footer>

<div id="feedback">
    <img src="//picsum.photos/70/70" alt="">
    <h2>Et cette page, elle vous plaît ?</h2>
    <p>Faites comme si vous étiez en magasin :)</p>
    <a href="#">Dites-nous franchement ce qui cloche</a>
</div>