<h4 class="ui header">{{ 'sylius.ui.new_customers'|trans }}</h4>
<p>Créez votre compte sur Chullanka.com et passez vos commandes facilement, suivez leur avancement et rejoignez le programme de fidélité Passeport.</p>

<br>
<p><strong>Avez-vous déjà une carte de fidélité Passeport créée dans un de nos magasins Chullanka ?</strong></p>

<div class="btnLinks">
    <a href="{{ path('sylius_shop_request_password_reset_token') }}" class="btn primary">Oui</a>
    <a href="{{ path('sylius_shop_register') }}" class="btn primary" title="{{ 'sylius.ui.create_an_account'|trans }}">Non</a>
</div>
