<ul style="margin-top:2em; border-top:2px dashed; padding-top:2em">
    <li><a href="{{ path('command_cache_clear') }}">Vider le cache de Sylius</a></li>
    <li><a href="#">Vider le cache de Cloudflare</a></li>
</ul>