{% for block in blocks %}
    <div class="cmsBlock">
        {% if block.name and block.link %}
        <a href="{{ block.link }}" class="link">{{ block.name }}</a>
        {% endif %}
        
        {{ bitbag_cms_render_content(block) }}
    </div>
{% endfor %}