{% if blocks|length %}
<div id="guideList">
    <div class="autoMargin">
        <h2>Vous avez du mal à choisir ?</h2>
    </div>
    <div class="glider-contain">
        <div class="glider">
            {% for block in blocks %}
                <div class="cmsBlock">
                    {% if block.name and block.link %}
                    <a href="{{ block.link }}" class="link">{{ block.name }}</a>
                    {% endif %}
                    
                    {{ bitbag_cms_render_content(block) }}
                </div>
            {% endfor %}
        </div>
        <div role="tablist" class="dots"></div>
    </div>
    <script>
        window.addEventListener('load', function(){
            new Glider(document.querySelector('#guideList .glider'), { 
                slidesToShow: 'auto',
                itemWidth: 360,
                exactWidth: 330,
                slidesToScroll: 1,
                duration: 3,
                draggable: true,
                scrollLock: true,
                dots: '#guideList .dots'
            });
        });
    </script>
</div>
{% endif %}