<div class="insert" style="height:485px">
    <h2>Vos points et avantage</h2>
    <p>Vous avez <strong>{{ customer.chullpoints }}</strong> points</p>
    <p>{{ customer.reduction ~ '€' }} sur votre prochaine commande</p>

    <div>
        <h4>Vous êtes licencié d'un club (FFME, FFS, ...) ?</h4>
        <p>Profitez de réduction toute l'année grâce à votre licence.</p>
    </div>
</div>