<div id="favoriteSports" class="insert">
    <h2>Vos Sports favoris</h2>

    {% if customer.favoriteSports|length == 0 %}
        <a href="{{ path('sport_manage_favorites') }}" class="btn primary">Commencer</a>
    {% else %}
        <ul>
        {% for sport in customer.favoriteSports %}
            <li><svg class="svg-icon" role="img"><use xlink:href="/chullanka/assets/img/sprites.svg#ico-love"/></svg> {{ sport.name }}</li>
        {% endfor %}
        </ul>
        <a href="{{ path('sport_manage_favorites') }}" class="btn primary">Ajouter/Modifier</a>
    {% endif %}
</div>