<div id="favoriteSports" class="insert">
    <h2>Vos Sports favoris</h2>
    {{ render(path('sport_manage_favorites')) }}
</div>

{#% if customer.favoriteSports|length == 0 %}
{% else %}
    <ul>
    {% for sport in customer.favoriteSports %}
        
    {% endfor %}
{% endif %#}
{#<div class="" style="height:330px">
    encart pub
</#div>#}