bitbag_sylius_elasticsearch_plugin:
    resource: "@BitBagSyliusElasticsearchPlugin/Resources/config/routing.yml"

bitbag_sylius_cms_plugin:
    resource: "@BitBagSyliusCmsPlugin/Resources/config/routing.yml"

#bitbag_sylius_wishlist_plugin:
#    resource: "@BitBagSyliusWishlistPlugin/Resources/config/routing.yml"

sylius_paypal_webhook:
    resource: "@SyliusPayPalPlugin/Resources/config/webhook_routing.yaml"

#ndY: pour gérer les produits packagés
sylius_admin_product_create_pack:
    path: /products/new/pack
    methods: [GET, POST]
    defaults:
        _controller: sylius.controller.product:createAction
        _sylius:
            section: admin
            permission: true
            factory:
                method: createWithVariant
            template: "@SyliusAdmin/Crud/create.html.twig"
            redirect: sylius_admin_product_update
            vars:
                subheader: sylius.ui.manage_your_product_catalog
                templates:
                    form: "@SyliusAdmin/Product/_form.html.twig"
                route:
                    name: sylius_admin_product_create_simple


# Controllers perso pour Chullanka
App\Controller\Chullanka\DefaultController:
    type: annotation
    resource: App\Controller\Chullanka\DefaultController
    prefix: /{_locale}/chullanka

# App\Controller\Chullanka\SecurityController:
#     type: annotation
#     resource: App\Controller\Chullanka\SecurityController
#     prefix: /chksecurity

App\Controller\Chullanka\AjaxController:
    type: annotation
    resource: App\Controller\Chullanka\AjaxController
    prefix: /{_locale}/chkajax

App\Controller\Chullanka\BrandController:
    type: annotation
    resource: App\Controller\Chullanka\BrandController
    prefix: /{_locale}/brand
App\Controller\Chullanka\StoreController:
    type: annotation
    resource: App\Controller\Chullanka\StoreController
    prefix: /{_locale}/store
App\Controller\Chullanka\WishlistController:
    type: annotation
    resource: App\Controller\Chullanka\WishlistController
    prefix: /{_locale}/wishlist
# noms définis dans services.yaml
# chk_store_action_index:
#     path: /{_locale}/store
#     methods: [GET]
#     defaults:
#         _controller: chk.controller.store::indexAction

# app_shop_partial_product_index_by_brand:
#     path: /partial/products/by-brand
#     methods: [GET]
#     defaults:
#         _controller: sylius.controller.product::indexAction
#         _sylius:
#             template: '@SyliusShop/Homepage/_announces.html.twig'
#             repository:
#                 method: findAllByBrand
#                 arguments: [1]
#             criteria: false
#         paginate: false
#         limit: 10

app_admin_store:
    resource: |
        alias: app.store
        section: admin
        templates: "@SyliusAdmin\\Crud"
        redirect: update
        grid: app_admin_store
        vars:
            all:
                subheader: 'Gestion des magasins'
            index:
                icon: 'file image outline'
    type: sylius.resource
    prefix: /admin

app_admin_brand:
    resource: |
        alias: app.brand
        section: admin
        templates: "@SyliusAdmin\\Crud"
        redirect: update
        grid: app_admin_brand
        vars:
            all:
                subheader: 'Gestion des marques'
            index:
                icon: 'file image outline'
    type: sylius.resource
    prefix: /admin

# app_admin_bloc:
#     resource: |
#         alias: app.bloc
#         section: admin
#         templates: "@SyliusAdmin\\Crud"
#         redirect: update
#         grid: app_admin_bloc
#         vars:
#             all:
#                 subheader: 'Gestion des Blocs +'
#             index:
#                 icon: 'file image outline'
#     type: sylius.resource
#     prefix: /admin

app_admin_chulli:
    resource: |
        alias: app.chulli
        section: admin
        templates: "@SyliusAdmin\\Crud"
        redirect: update
        grid: app_admin_chulli
        vars:
            all:
                subheader: 'Gestion des Chullis'
            index:
                icon: 'file image outline'
    type: sylius.resource
    prefix: /admin

app_admin_recall:
    resource: |
        alias: app.recall
        section: admin
        templates: "@SyliusAdmin\\Crud"
        redirect: update
        grid: app_admin_recall
        vars:
            all:
                subheader: 'Gestion des Rappels'
            index:
                icon: 'file image outline'
    type: sylius.resource
    prefix: /admin

app_admin_rma:
    resource: |
        alias: app.rma
        section: admin
        templates: "@SyliusAdmin\\Crud"
        redirect: update
        grid: app_admin_rma
        vars:
            all:
                subheader: 'RMA'
            index:
                icon: 'file image outline'
    type: sylius.resource
    prefix: /admin

# app_product_bundle:
#     resource: |
#         alias: app.product_bundle
#         section: admin
#         templates: "@SyliusAdmin\\Crud"
#         redirect: index
#         grid: app_admin_product_bundle
#     type: sylius.resource
#     prefix: /admin