# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: fr_FR

services:
    # Default configuration for services in *this* file
    _defaults:
        # Automatically injects dependencies in your services
        autowire: true

        # Automatically registers your services as commands, event subscribers, etc.
        autoconfigure: true

        # Allows optimizing the container by removing unused services; this also means
        # fetching services directly from the container via $container->get() won't work
        public: false

        #ndY: permet d'avoir cette variable dans tous les Services
        bind:
            $projectDir: "%kernel.project_dir%"

    _instanceof:
        Sylius\Bundle\ResourceBundle\Controller\ResourceController:
            autowire: false
        Sylius\Bundle\ResourceBundle\Form\Type\AbstractResourceType:
            autowire: false

    # Makes classes in src/ available to be used as services;
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/*'
        exclude: '../src/{Entity,Migrations,Tests,Kernel.php}'

    # Controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    #ndY : désactiver l'autowire pour ce controller perso
    # App\Controller\ProductController:
    #     autowire: false

    #ndY: surcharge du controller de Contact
    App\Controller\Shop\ContactController:
        class: App\Controller\Shop\ContactController
        tags: ['controller.service_arguments']
        arguments: 
            - '@router'
            - '@form.factory'
            - '@twig'
            - '@sylius.context.channel'
            - '@sylius.context.customer'
            - '@sylius.context.locale'
            - '@sylius.email_manager.contact'
    sylius.controller.shop.contact:
        class: App\Controller\Shop\ContactController
        tags: ['controller.service_arguments']
        arguments: 
            - '@router'
            - '@form.factory'
            - '@twig'
            - '@sylius.context.channel'
            - '@sylius.context.customer'
            - '@sylius.context.locale'
            - '@sylius.email_manager.contact'

    
    App\ShippingCalculator\ChullankaCalculator:
        tags:
            -  {
                name: sylius.shipping_calculator,
                calculator: 'chullanka',
                label: 'Chullankaculator',
                form_type: App\Form\Type\ChullankaShippingCalculatorType
            }
    App\ShippingCheckerRule\ChullankaRulesChecker:
        tags:
            - { 
                name: sylius.shipping_method_rule_checker, 
                type: chullanka_rules, 
                label: 'Règles pour Chullanka',
                form_type: App\Form\Type\ChullankaRulesConfigurationType
            }

    #ndY: pour définir de nouveaux constrolleurs utilisables dans routes.yml
    chk.controller.ajax:
        class: App\Controller\Chullanka\AjaxController
        autowire: true
        tags: ['controller.service_arguments']

    # chk.controller.store:
    #     class: App\Controller\Chullanka\StoreController
    #     autowire: true
    #     tags: ['controller.service_arguments']
       
    
    #ndY: pour ajouter des liens dans les menus
    #cf. https://docs.sylius.com/en/latest/customization/menu.html
    app.listener.admin.menu_builder:
        class: App\Menu\AdminMenuListener
        tags:
            - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addAdminMenuItems }

    app.listener.shop.menu_builder:
        class: App\Menu\AccountMenuListener
        tags:
            - { name: kernel.event_listener, event: sylius.menu.shop.account, method: addAccountMenuItems }

    app.ginkoiaws:
        class: App\Service\GinkoiaCustomerWs
    app.security.success_handler:
        class: App\Security\AuthenticationSuccessHandler
        parent: security.authentication.success_handler
        public: false
    app.security.failure_handler:
        class: App\Security\AuthenticationFailureHandler
        arguments:
            - '@app.ginkoiaws'
        parent: security.authentication.failure_handler
        public: false

    #ndY: services nécessaires si le FormType extends AbstractResourceType
    app.brand.form.type:
        class: App\Form\Type\BrandType
        tags:
            - { name: form.type }
        arguments: ['%app.model.brand.class%', ['sylius']]
    app.brand_translation.form.type:
        class: App\Form\Type\BrandTranslationType
        tags:
            - { name: form.type }
        arguments: ['%app.model.brand_translation.class%', ['sylius']]
    # app.bloc.form.type:
    #     class: App\Form\Type\BlocType
    #     tags:
    #         - { name: form.type }
    #     arguments: ['%app.model.bloc.class%', ['sylius']]
    app.chull_test.form.type:
        class: App\Form\Type\ChulltestType
        tags:
            - { name: form.type }
        arguments: ['%app.model.chulltest.class%', ['sylius']]
    app.chull_test_translation.form.type:
        class: App\Form\Type\ChulltestTranslationType
        tags:
            - { name: form.type }
        arguments: ['%app.model.chulltest_translation.class%', ['sylius']]
    app.complementary_product.form.type:
        class: App\Form\Type\ComplementaryProductType
        tags:
            - { name: form.type }
        arguments: ['%app.model.complementary_product.class%', ['sylius']]
    app.complementary_product_translation.form.type:
        class: App\Form\Type\ComplementaryProductTranslationType
        tags:
            - { name: form.type }
        arguments: ['%app.model.complementary_product_translation.class%', ['sylius']]
    app.faq.form.type:
        class: App\Form\Type\FaqType
        tags:
            - { name: form.type }
        arguments: ['%app.model.faq.class%', ['sylius']]
    app.faq_translation.form.type:
        class: App\Form\Type\FaqTranslationType
        tags:
            - { name: form.type }
        arguments: ['%app.model.faq_translation.class%', ['sylius']]
    app.recall.form.type:
        class: App\Form\Type\RecallType
        tags:
            - { name: form.type }
        arguments: ['%app.model.recall.class%', ['sylius']]
    # app.rma.form.type:
    #     class: App\Form\Type\RmaType
    #     tags:
    #         - { name: form.type }
    #     arguments: ['%app.model.rma.class%', ['sylius']]
    app.store.form.type:
        class: App\Form\Type\StoreType
        tags:
            - { name: form.type }
        arguments: ['%app.model.store.class%', ['sylius']]
    app.store_translation.form.type:
        class: App\Form\Type\StoreTranslationType
        tags:
            - { name: form.type }
        arguments: ['%app.model.store_translation.class%', ['sylius']]
    
    
    #ndY: pour ajouter des tabs dans edition de Product
    app.listener.admin.product_form_menu_builder:
        class: App\Menu\AdminProductFormMenuListener
        tags:
            - { name: kernel.event_listener, event: sylius.menu.admin.product.form, method: addItems }
    
    #ndY: définition d'extensions pour les formulaires de Sylius - pas l'air d'être utile...
    app.form.extension.type.product:
        class: App\Form\Extension\ProductTypeExtension
        tags:
            - { name: form.type_extension, extended_type: Sylius\Bundle\CoreBundle\Form\Type\Product\ProductType }


    #ndY: solution de Paiement
    app.upstream_pay:
        class: Payum\Core\Bridge\Symfony\Builder\GatewayFactoryBuilder
        arguments: [ App\Payum\UpstreamPayGatewayFactory ]
        tags:
            - { name: payum.gateway_factory_builder, factory: upstream_pay }
    App\Form\Type\UpstreamPayGatewayConfigurationType:
        tags:
            - { name: sylius.gateway_configuration_type, type: upstream_pay, label: 'Upstream Pay' }
            - { name: form.type }
    App\Payum\Action\CaptureAction:
        public: true
        arguments:
            - '@sylius.http_client'
        tags:
            - { name: payum.action, factory: upstream_pay, alias: payum.action.capture }
    App\Payum\Action\StatusAction:
        public: true
        arguments:
            - '@sylius.http_client'
        tags:
            - { name: payum.action, factory: upstream_pay, alias: payum.action.status }

    
    #ndY: pour Elasticsearch
    # app.elasticsearch:
    #     class: App\Service\Elasticsearch
    #     arguments:
    #         - '@bitbag_sylius_elasticsearch_plugin.controller.request_data_handler.shop_product_list'
    #         - '@bitbag_sylius_elasticsearch_plugin.controller.request_data_handler.shop_products_sort'
    #         - '@bitbag_sylius_elasticsearch_plugin.controller.request_data_handler.pagination'
    #         - ''
    #     public: true
    App\Controller\Chullanka\BrandController:
        class: App\Controller\Chullanka\BrandController
        arguments: 
            - ''
            - ''
            - '@bitbag_sylius_elasticsearch_plugin.controller.request_data_handler.shop_product_list'
            - '@bitbag_sylius_elasticsearch_plugin.controller.request_data_handler.shop_products_sort'
            - '@bitbag_sylius_elasticsearch_plugin.controller.request_data_handler.pagination'

    # App\Finder\ShopProductsFinder:
    #     class: App\Finder\ShopProductsFinder
    #     arguments:
    #         - '@bitbag_sylius_elasticsearch_plugin.query_builder.shop_products'
    #         - '@fos_elastica.finder.bitbag_shop_product'


    #ndY: Gestion "produit offert"
    app.promotion_action.gift_product_discount:
        class: App\Promotion\Action\GiftProductDiscountPromotionActionCommand
        arguments: ['@sylius.factory.adjustment']
        tags:
            - { name: sylius.promotion_action, type: gift_product_discount, form_type: App\Form\Type\Action\GiftProductDiscountConfigurationType, label: Produit offert }
    app.form.type.promotion_action.gift_product_discount_configuration:
        class: App\Form\Type\Action\GiftProductDiscountConfigurationType
        arguments: ['@sylius.repository.product']
        tags:
            - { name: form.type }


    #ndY: Overrides

    # BitBag\SyliusElasticsearchPlugin
    BitBag\SyliusElasticsearchPlugin\Repository\TaxonRepositoryInterface: 
        '@bitbag.sylius_elasticsearch_plugin.repository.taxon_repository'
    bitbag_sylius_elasticsearch_plugin.property_builder.attribute_taxons:
        class: App\Overrides\SyliusElasticsearchPlugin\PropertyBuilder\AttributeTaxonsBuilder

    FOS\ElasticaBundle\Finder\FinderInterface:
        '@fos_elastica.finder.bitbag_attribute_taxons'
    BitBag\SyliusElasticsearchPlugin\QueryBuilder\QueryBuilderInterface:
        '@bitbag_sylius_elasticsearch_plugin.query_builder.product_attributes_by_taxon'
    bitbag_sylius_elasticsearch_plugin.finder.product_attributes:
        class: App\Overrides\SyliusElasticsearchPlugin\Finder\ProductAttributesFinder

    App\Overrides\SyliusElasticsearchPlugin\Finder\ShopProductsFinder:
        class: App\Overrides\SyliusElasticsearchPlugin\Finder\ShopProductsFinder
        arguments:
            - '@bitbag_sylius_elasticsearch_plugin.query_builder.shop_products'
            - '@fos_elastica.finder.bitbag_shop_product'
    bitbag_sylius_elasticsearch_plugin.finder.shop_products:
        class: App\Overrides\SyliusElasticsearchPlugin\Finder\ShopProductsFinder
        arguments:
            - '@bitbag_sylius_elasticsearch_plugin.query_builder.shop_products'
            - '@fos_elastica.finder.bitbag_shop_product'

    BitBag\SyliusElasticsearchPlugin\Context\TaxonContextInterface:
        '@bitbag.sylius_elasticsearch_plugin.context.taxon'
    BitBag\SyliusElasticsearchPlugin\Finder\ProductAttributesFinderInterface:
        '@bitbag_sylius_elasticsearch_plugin.finder.product_attributes'
    bitbag.sylius_elasticsearch_plugin.context.product_attributes:
        class: App\Overrides\SyliusElasticsearchPlugin\Context\ProductAttributesContext
    
    bitbag_sylius_elasticsearch_plugin.controller.request_data_handler.shop_product_list:
        class: App\Overrides\SyliusElasticsearchPlugin\Controller\RequestDataHandler\ShopProductListDataHandler
    
    BitBag\SyliusElasticsearchPlugin\PropertyNameResolver\ConcatedNameResolverInterface:
        '@bitbag_sylius_elasticsearch_plugin.property_name_resolver.channel_pricing'
    bitbag_sylius_elasticsearch_plugin.controller.request_data_handler.shop_products_sort:
        class: App\Overrides\SyliusElasticsearchPlugin\Controller\RequestDataHandler\ShopProductsSortDataHandler
        
    BitBag\SyliusElasticsearchPlugin\Repository\ProductAttributeValueRepositoryInterface:
        '@bitbag.sylius_elasticsearch_plugin.repository.product_attribute_value_repository'
    BitBag\SyliusElasticsearchPlugin\Formatter\StringFormatterInterface:
        '@bitbag.sylius_elasticsearch_plugin.string_formatter'
    bitbag_sylius_elasticsearch_plugin.form.type.choice_mapper.product_attributes:
        class: App\Overrides\SyliusElasticsearchPlugin\Form\Type\ChoiceMapper\ProductAttributesMapper

    Sylius\Component\Product\Repository\ProductAttributeValueRepositoryInterface:
        '@sylius.repository.product_attribute_value'
    bitbag.sylius_elasticsearch_plugin.repository.product_attribute_value_repository:
        class: App\Overrides\SyliusElasticsearchPlugin\Repository\ProductAttributeValueRepository
        

    # setono_sylius_feed
    setono_sylius_feed.feed_context.google.shopping.product_item:
        class: App\Overrides\SyliusFeedPlugin\FeedContext\GoogleShopping\ProductItemContext
    setono_sylius_feed.feed_type.google_shopping:
        class: Setono\SyliusFeedPlugin\FeedType\FeedType
        arguments:
            - 'google_shopping'
            - 'chullanka/feeds/google_shopping_feed.txt.twig'
            - '@setono_sylius_feed.data_provider.product'
            - '@setono_sylius_feed.feed_context.google.shopping'
            - '@setono_sylius_feed.feed_context.google.shopping.product_item'
    App\Overrides\SyliusFeedPlugin\FeedType\Niveales:
        class: Setono\SyliusFeedPlugin\FeedType\FeedType
        arguments:
            - 'niveales'
            - 'chullanka/feeds/niveales_feed.txt.twig'
            - '@setono_sylius_feed.data_provider.product'
            - '@setono_sylius_feed.feed_context.google.shopping'
            - '@setono_sylius_feed.feed_context.google.shopping.product_item'
    App\Overrides\SyliusFeedPlugin\FeedType\PriceAssistant:
        class: Setono\SyliusFeedPlugin\FeedType\FeedType
        arguments:
            - 'priceassistant'
            - 'chullanka/feeds/priceassistant_feed.txt.twig'
            - '@setono_sylius_feed.data_provider.product'
            - '@setono_sylius_feed.feed_context.google.shopping'
            - '@setono_sylius_feed.feed_context.google.shopping.product_item'
    App\Overrides\SyliusFeedPlugin\FeedType\Comparide:
        class: Setono\SyliusFeedPlugin\FeedType\FeedType
        arguments:
            - 'comparide'
            - 'chullanka/feeds/comparide_feed.txt.twig'
            - '@setono_sylius_feed.data_provider.product'
            - '@setono_sylius_feed.feed_context.google.shopping'
            - '@setono_sylius_feed.feed_context.google.shopping.product_item'
    App\Overrides\SyliusFeedPlugin\FeedType\Planetgrimpe:
        class: Setono\SyliusFeedPlugin\FeedType\FeedType
        arguments:
            - 'planetgrimpe'
            - 'chullanka/feeds/planetgrimpe_feed.txt.twig'
            - '@setono_sylius_feed.data_provider.product'
            - '@setono_sylius_feed.feed_context.google.shopping'
            - '@setono_sylius_feed.feed_context.google.shopping.product_item'
    App\Overrides\SyliusFeedPlugin\FeedType\FacebookRetargeting:
        class: Setono\SyliusFeedPlugin\FeedType\FeedType
        arguments:
            - 'facebook_retargeting'
            - 'chullanka/feeds/facebook_retargeting_feed.txt.twig'
            - '@setono_sylius_feed.data_provider.product'
            - '@setono_sylius_feed.feed_context.google.shopping'
            - '@setono_sylius_feed.feed_context.google.shopping.product_item'
    App\Overrides\SyliusFeedPlugin\FeedType\GoogleLocalMagasin:
        class: Setono\SyliusFeedPlugin\FeedType\FeedType
        arguments:
            - 'google_local_magasin'
            - 'chullanka/feeds/google_local_magasin_feed.txt.twig'
            - '@setono_sylius_feed.data_provider.product'
            - '@setono_sylius_feed.feed_context.google.shopping'
            - '@setono_sylius_feed.feed_context.google.shopping.product_item'
