{% if taxon.topBrands %}
{% include 'chullanka/brand/top_items.html.twig' with {'brands': taxon.topBrands, '_title': 'Nos Top Marques'} %}
{% endif %}

{{ render(path('get_blocks_by_section_taxon', {'sectionCode': 'cat_promos', 'taxonCode': taxon.code, 'template': '@SyliusShop/Taxon/_promotions.html.twig'})) }}

<div id="description" class="anchor">
    {{ taxon.content|raw }}
    <div class="toAnchor">
        <a href="#categoryTop">{{ 'app.front.gototop'|trans }}</a>
    </div>
</div>