{% set univers = null %}
{% if taxon is defined %}
    {% set ancestors = taxon.ancestors|reverse %}
    {% for ancestor in ancestors %}
        {% if not ancestor.isRoot() and univers is null %}
            {% set univers = ancestor %}
        {% endif %}
    {% endfor %}
    {% if univers is null %}
        {% set univers = taxon %}
    {% endif %}
{% endif %}

{# cf. https://symfony.com/bundles/LiipImagineBundle/current/basic-usage.html#create-thumbnails #}
{% set _bgCat = null %}
{% if univers and univers.images %}
    {% if univers.imagesByType('bg') is not empty %}
    {% set _bgCat = univers.imagesByType('bg').first.path|imagine_filter(filter|default('chullanka_univers')) %}
    {% else %}
    {% for image in univers.images %}
        {% if image.type == 'bg' %}
        {% set _bgCat = image.path|imagine_filter(filter|default('chullanka_univers')) %}
        {% endif %}
    {% endfor %}
    {% endif %}
{% endif %}

{% if taxon.isUnivers == false and taxon.topProducts|length == 0 %}
{% set _bgCat = null %}
{% endif %}

<div id="categoryTop"{% if _bgCat %} style="background-image:url({{ _bgCat }});"{% endif %}>
    {% if _bgCat %}<img src="{{ asset('build/chullanka/images/mask_taxon_top.png', 'chullanka') }}" alt="" class="mask">{% endif %}
    <div class="autoMargin">
        {{ sylius_template_event('sylius.shop.taxon.header', {'taxon': taxon}) }}
    </div>
</div>