{% if blocks|length %}
<div id="promos">
    <h2 class="autoMargin">D'autres vont aussi voir</h2>
    <div class="glider-contain">
        <div class="glider">
            {% for block in blocks %}
                {{ bitbag_cms_render_content(block) }}
            {% endfor %}
        </div>
        <div role="tablist" class="dots"></div>
    </div>
    <script>
        window.addEventListener('load', function(){
            new Glider(document.querySelector('#promos .glider'), { 
                specialGlider: true,
                //slidesToShow: 2.25,
                slidesToScroll : 1,
                duration: 2,
                draggable: true,
                scrollLock: true,
                dots: '#promos .dots',
                /*responsive: [
                    {
                        // screens greater than >= 1024px
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 'auto',
                            itemWidth: 360,
                            exactWidth: 330
                        }
                    }
                ]*/
            });
        });
    </script>
</div>
{% endif %}