{% extends '@SyliusShop/Email/layout.html.twig' %}

{% block subject %}
    Demande de retour produit
{% endblock %}

{% block heademail %}
    Demande de retour produit
{% endblock %}

{% block content %}
    <p>Une nouvelle demande de retour produit a été faite sur le site.</p>
    <p><strong>Numéro de la demande :</strong> {{ rma.number }}</p>
    {% if rma.customer %}
    <p><strong>Client : </strong> {{ rma.customer }}</p>
    {% endif %}
    {% if rma.order %}
    <p><strong>Commande : </strong> {{ rma.order.number }}</p>
    {% endif %}
    {% if rma.rmaProducts %}
    <p>
        <strong>Produit(s) : </strong>
    {% for product in rma.rmaProducts %}
        {{ product.name }}<br>
    {% endfor %}
    </p>
    {% endif %}
{% endblock %}