<div class="ui tab" data-tab="chull_test">
    <div class="ui segment">
        <h4 class="ui dividing header">{{ 'app.ui.product.admin.test.titre'|trans }}</h4>
        {{ form_row(form.chulltest) }}
    </div>
</div>