{% form_theme form '@SyliusAdmin/Form/theme.html.twig' %}

<div class="ui tab" data-tab="complementary_product">
    <div class="ui segment">
        <h4 class="ui dividing header">Produits complémentaires</h4>
        {{ form_row(form.complementaryProduct) }}
    </div>
</div>