<div class="ui tab" data-tab="packs">
    <div class="ui segment">
        <h4 class="ui dividing header">Produit packagé</h4>
        {{ form_row(form.isPack) }}
        {{ form_row(form.packElements) }}
    </div>
    <div class="ui segment">
        <h4 class="ui dividing header">Proposer le montage gratuit ?</h4>
        {{ form_row(form.mounting) }}
    </div>
</div>