{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}
    <h1>Test Exports Ginkoia</h1>

    <h2>XML dans : {{ exportpath }}</h2>
    {% if files|length %}
        {{ pr(files) }}
    {% else %}
        {{ msg }}
    {% endif %}
{% endblock %}