{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}Test Izypro | Chullanka{% endblock %}

{% block content %}
    <h1>Test Izypro</h1>
    <h2>Liste de fichiers du SFTP</h2>
    {% if files|length %}
        {{ pr(files) }}
    {% else %}
        C'est vide !
    {% endif %}
{% endblock %}