{%
    set viewOptions = {
    cart: { icon: "adjust", color: "grey" } ,
    cancelled: { icon: "ban", color: "red" } ,
    ready_to_ship: { icon: "plane", color: "blue" } ,
    shipped: { icon: "plane", color: "green" } ,
    ready: { icon: "clock", color: "blue" } ,
    preparation: { icon: "clock", color: "blue" } ,
    onhold: { icon: "clock", color: "yellow" } ,
    store_trouble: { icon: "clock", color: "yellow" },
    store_available: { icon: "clock", color: "blue" },
    store_collected: { icon: "plane", color: "green" },
    store_sent: { icon: "plane", color: "green" },
    }
%}

{% set value = 'sylius.ui.' ~ state %}

<span class="ui {{ viewOptions[state]['color'] }} label">
    <i class="{{ viewOptions[state]['icon'] }} icon"></i>
    {{ value|trans }}
</span>
