{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
<div class="example-wrapper">
    <p>Ici il faut donc charger l'entité "location" ayant le code &laquo; chk_{{ slug }} &raquo;</p>
    <h1>Hello {{ store.name }} !</h1>
    {{ dump(store) }}
</div>
{% endblock %}
