<div id="entreprise">
    <div class="autoMargin inside">
        <div class="framap">
            <h2>Chullanka entreprise Française</h2>
            <img src="/chullanka/assets/img/logo_french_ent.png" alt="Entreprise Française" class="badge">
            <p>9 magasins physiques</p>
            <ul>
                <li><a href="#">Antibes</a></li><li><a href="#">Metz</a></li><li><a href="#">Toulouse</a></li><li><a href="#">Aix-en-Provence</a></li><li><a href="#">Montpellier</a></li><li><a href="#">Gap</a></li><li><a href="#">Briançon</a></li><li><a href="#">Valance</a></li><li><a href="#">Bordeaux</a></li>
            </ul>
            <img src="/chullanka/assets/img/carte_france.png" alt="">
        </div>
        <div class="team">
            <div class="header">
                <h3>Une équipe de Chullis Passionnés et expert de leurs disciplines</h3>
                <div>
                    <span class="pichulli">
                        <img src="/chullanka/assets/img/chulli.jpg" width="48" height="48" alt="Chulli">
                        <svg class="svg-icon" role="img" style="width:48px; height:48px"><use xlink:href="/chullanka/assets/img/sprites.svg#over-chulli"/></svg>
                    </span>
                    <span class="pichulli">
                        <img src="/chullanka/assets/img/chulli.jpg" width="48" height="48" alt="Chulli">
                        <svg class="svg-icon" role="img" style="width:48px; height:48px"><use xlink:href="/chullanka/assets/img/sprites.svg#over-chulli"/></svg>
                    </span>
                    <span class="pichulli">
                        <img src="/chullanka/assets/img/chulli.jpg" width="48" height="48" alt="Chulli">
                        <svg class="svg-icon" role="img" style="width:48px; height:48px"><use xlink:href="/chullanka/assets/img/sprites.svg#over-chulli"/></svg>
                    </span>
                    <span class="pichulli">
                        <img src="/chullanka/assets/img/chulli.jpg" width="48" height="48" alt="Chulli">
                        <svg class="svg-icon" role="img" style="width:48px; height:48px"><use xlink:href="/chullanka/assets/img/sprites.svg#over-chulli"/></svg>
                    </span>
                    <span class="pichulli">
                        <img src="/chullanka/assets/img/chulli.jpg" width="48" height="48" alt="Chulli">
                        <svg class="svg-icon" role="img" style="width:48px; height:48px"><use xlink:href="/chullanka/assets/img/sprites.svg#over-chulli"/></svg>
                    </span>
                    <span class="pichulli">
                        <img src="/chullanka/assets/img/chulli.jpg" width="48" height="48" alt="Chulli">
                        <svg class="svg-icon" role="img" style="width:48px; height:48px"><use xlink:href="/chullanka/assets/img/sprites.svg#over-chulli"/></svg>
                    </span>
                </div>
            </div>
            <ul class="ctaCats">
                <li><a href="#">Randonnées et Bivouac</a></li>
                <li><a href="#">Ski et Snowboard</a></li>
                <li><a href="#">Escalade et Alpinisme</a></li>
                <li><a href="#">Trail et Running</a></li>
                <li><a href="#">Vélo</a></li>
                <li><a href="#">Electronique et Optique</a></li>
            </ul>
            <img src="/chullanka/assets/img/equipe.jpg" alt="Chullis">
        </div>
    </div>
</div>