<div id="plusChullanka">
    <div class="insert">
        <strong>Les + Chullanka</strong>
        <ul>
            <li><svg class="svg-icon" role="img" style="width:41.803px; height:42.24px"><use xlink:href="/chullanka/assets/img/sprites.svg#ico-upcycle"/></svg> 10 magasins & des passionnés à votre service</li>
            <li><svg class="svg-icon" role="img" style="width:34.05px; height:45.199px"><use xlink:href="/chullanka/assets/img/sprites.svg#ico-coupe"/></svg> Livraison offerte dès 60€ d'achat</li>
            <li><svg class="svg-icon" role="img" style="width:29.06px; height:52.909px"><use xlink:href="/chullanka/assets/img/sprites.svg#ico-paiement"/></svg> Paiement en 3x sans frais dès 50€</li>
            <li><svg class="svg-icon" role="img" style="width:29.06px; height:52.909px"><use xlink:href="/chullanka/assets/img/sprites.svg#ico-paiement"/></svg> Retour possible sous 90 jours</li>
        </ul>
    </div>
</div>