<div id="sports">
    <div class="autoMargin">
        <h2>Trouvez votre équipement</h2>
    </div>

    <div class="glider-contain">
        <div class="glider">
            {{ render(path('get_first_level_taxon')) }}
        </div>
        <div role="tablist" class="dots"></div>
    </div>
    <script>
        window.addEventListener('load', function(){
            new Glider(document.querySelector('#sports .glider'), { 
                slidesToShow: 2.25,
                slidesToScroll : 1,
                duration: 2,
                draggable: true,
                scrollLock: true,
                dots: '#sports .dots',
                responsive: [
                    {
                        // screens greater than >= 1024px
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 'auto',
                            itemWidth: 180,
                            exactWidth: 150
                        }
                    }
                ]
            });
        });
    </script>
</div>