{% for taxon in univers %}
    {% set _bgCat = '' %}
    {% if taxon.images is not empty %}
        {% if taxon.imagesByType('cat') is not empty %}
        {% set _bgCat = taxon.imagesByType('cat').first.path|imagine_filter(filter|default('chullanka_category')) %}
        {% else %}
        {% set _bgCat = taxon.images.first.path|imagine_filter(filter|default('chullanka_category')) %}
        {% endif %}
    {% endif %}

    <a href="{{ path('bitbag_sylius_elasticsearch_plugin_shop_list_products', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}"{% if _bgCat %} class="withBgImg"><img src="{{ _bgCat }}" alt="">{% else %}>{% endif %}
        <span>{{ taxon.name }}</span>
    </a>
{% endfor %}